.CitiesList .history-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CitiesList {
    width: 80%;
    margin: 0 auto;
}

.CitiesList .history-city {
    width: 40%;
}

.CitiesList .history-temperature {
    width: 20%;
}

.CitiesList .close-icon {
    width: 10%;
}



