.Menu {
    width: 20%;
    height: 100%;
    
    text-align: center;

    background: #679ef7;
    border-right: 3px solid 595853;
    box-shadow: 3px 0px 3px 0px rgba(0,0,0,1);
}

.Menu .search-container {
    padding: 20px 0;
}