.WeatherData {
    text-align: center;
    width: 90%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

.WeatherData .weather-container {
    display: inline-flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
}

.weather-icon {
    display: block;
}

.save-button {
  width: 80px;
  margin-left: 80%;
}
